<div class="container">
    <div class="row ">
      <div class="col-sm bgcolor m-1">
        <h1 class="display-4"  > Event</h1>
              <p  class="lead">Welcome to Event Booking</p>
              <p  class="lead">Login As</p>
              <a class="btn btn-primary btn-lg" routerLink="/login" href="#" role="button" (click)="organizerClick()">ORGANIZER</a>&nbsp;&nbsp;
              <a class="btn btn-primary btn-lg" routerLink="/login" href="#" role="button" (click)="audienceClick()">AUDIENCE</a>&nbsp;&nbsp;
              <a class="btn btn-primary btn-lg" routerLink="/login" href="#" role="button" (click)="adminclick()">Admin</a>
            </div>
    </div>  
  </div>
  
